body {
    max-width: 100%;
    background: url(../img/background1.png);
    font-family: 'Roboto', sans-serif;
}

.conteiner{
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
}


.header {
    width: 1030px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    margin-top: 46px;
}

.logo:hover .logo-text-link {
    color: rgba(242, 101, 34, 1);
}

.logo:hover .logo-text-link2 {
    color: rgba(242, 101, 34, 1);
}

.logo-icon {
    display: flex;
}

.logo{
    position: relative;
}

.logo:hover .logo-static {
    z-index: -1;
    background-color: rgba(0, 0, 0, 0)
}

.logo-activ {
    position: absolute;
    right: 97px;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0);
    visibility:hidden
}

.logo:hover .logo-activ {
    z-index: 1;
    visibility: visible;
}

.logo-text-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0 0 0 8px;
}

.logo-text-link2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.contact-mail, 
.contact-phone { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.contact-mail:hover {
    color: rgba(242, 101, 34, 1);
}
.contact-phone:hover {
    color: rgba(242, 101, 34, 1);
}

.tours {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 37px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 0;
}

.card{
    position: relative;
}


.box1{

    Height: 55px;
    background-color: rgba(242, 101, 34, 1);
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 16px 12px;
    visibility: hidden;
    position: absolute;
    bottom: 55px;
}

.text-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

.photo:hover .box1{
    visibility: visible;
}

.photo:hover .text-link{
    color: rgba(242, 101, 34, 1);
}



.pricefrom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-arrow{
    display: flex;
    align-items: end; 
}


.tour1:hover  {
    z-index: -1;
    color: rgba(242, 101, 34, 1);
}

.tour1:hover h2 {
    z-index: -1;
    color: rgba(242, 101, 34, 1);
}
.card-photo {
    margin-bottom: 20px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

.from {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
}
.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-right: 16px;
}

.arrow1{
    visibility: hidden;
}

i {
    border: solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* конец */

.autor {
    display: flex;
    justify-content: center;
}

.autor-text {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
